<%= simple_form_for(@instance) do |f| %>
  <% if @instance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instance.errors.count, "error") %> prohibited this instance from being saved:</h2>

      <ul>
      <% @instance.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :port %>
    <%= f.association :server, :include_blank => false %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
