<h1>Listing scripts</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @scripts.each do |script| %>
  <tr>
    <td><%= script.name %></td>
    <td><%= script.description %></td>
    <td><%= link_to 'Show', script %></td>
    <td><%= link_to 'Edit', edit_script_path(script) %></td>
    <td><%= link_to 'Destroy', script, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= link_to "New script", new_script_path %>
