<% if notice %>
  <p id="notice" class="notice"><%= notice %></div>
<% end %>
<p>
  <b>Name:</b>
  <%= @script.name %>
</p>

<p>
  <b>Description:</b>
  <%= @script.description %>
</p>

<p>
  <b>Script:</b>
  <%= @script.content %>
</p>


<%= link_to 'Edit', edit_script_path(@script) %> |
<%= link_to 'Back', scripts_path %>
