<% content_for :scripts do %>
  <script language="javascript" type="text/javascript" src="http://people.iola.dk/olau/flot/jquery.flot.js"></script> 
<% end %>

<div id="chart-title" style="width:600px;">
  <center><h2><%= @script_target.name %></h2></center>
</div>
<div id="chart" style="width:600px;height:300px;">
</div> 
<%= form_tag :chart, :method => :get do |f| %>
  <%= label_tag :date_start %>
  <%= text_field_tag :date_start, ( params[:date_start] ? params[:date_start].to_date : 1.day.ago.to_date )  %><br />

  <%= label_tag :date_end %>
  <%= text_field_tag :date_end, ( params[:date_end] ? params[:date_end].to_date : 1.day.ago.to_date )  %><br />

  <%= submit_tag "Chart it!" %>
<% end  %>


<script type="text/javascript"> 
  $(function () {
      var data = [ ];
      
      var chart = $("#chart");
      var options = {
        xaxis: { 
            mode: "time",
            minTickSize: [5, "minute"]
        },
        series: {
            lines: { show: true },
            points: { show: true }
        }
      }
      
      function fetchData() {
        data = [];
        function onDataReceived(series) {
          for (var i = 0; i < series.length; i++) {
            data.push(series[i]);
          }
          $.plot(chart, data, options);
          setTimeout(fetchData, 60 * 1000);
        }

        $.ajax({
          url: "<%= chart_path(@script_target, :format => :json) %>",
          method: "GET",
          data: { date_start: "<%= params[:date_start] %>", date_end: "<%= params[:date_end] %>" },
          dataType: "json",
          success: onDataReceived
          });
      }
      setTimeout(fetchData,100);

      $.plot(chart, data, options);
      $("#date_start").datepicker({"dateFormat": 'yy-mm-dd'});
      $("#date_end").datepicker({"dateFormat": 'yy-mm-dd'});
});
</script>
