<%= simple_form_for(@script_target) do |f| %>
  <% if @script_target.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@script_target.errors.count, "error") %> prohibited this script_target from being saved:</h2>

      <ul>
        <% @script_target.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.association :script, :collection => expected_scripts, :prompt => "Choose the script" %>
    <%= f.simple_fields_for :targetable_attributes, @script_target do |script_target| %>
      <%= hidden_field_tag "script_target[targetable_attributes][targetable_type]", targetable_type %>
      <%= script_target.label targetable_type %>
      <%= script_target.collection_select :targetable_id, expected_targets, :id, :name, :prompt => "Choose the #{targetable_type}" %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
