<h1>Listing target configuration of scripts</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @script_targets.each do |script_target| %>
  <tr>
    <td>
      <%= link_to script_target.script_name, script_target.script %>
      will run on
      <%= script_target.targetable_type.downcase %>
      <%= link_to script_target.targetable.name, script_target.targetable %>
    </td>
    <td><%= link_to 'Show', script_target %></td>
    <td><%= link_to 'Edit', edit_script_target_path(script_target) %></td>
    <td><%= link_to 'Destroy', script_target, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />
New script target for:
<%= link_to "database", new_targetable_path(:targetable_type => "database") %>,
<%= link_to "instance", new_targetable_path(:targetable_type => "instance") %>,
<%= link_to "server", new_targetable_path(:targetable_type => "server") %>

