<h2>
  <%= @script_target.name %>
</h2>

This configuration associates the script 
<%= link_to @script_target.script_name, @script_target.script %>
to the
<b>
  <%= @script_target.targetable_type.downcase %>
</b> 
called 
<%= link_to @script_target.targetable_name, @script_target.targetable %>.
</p>

<% if params[:destroy] %>
  <%= render(:partial => 'shared/confirm_destroy', :locals => { :object_to_delete => @script_target })  %>
<% else %>
  <%= link_to 'Edit', edit_script_target_path(@script_target) %> |
  <%= link_to 'Back', script_targets_path %>
<% end %>
