<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Untitled" %></title>
  <%= stylesheet_link_tag 'blueprint/screen', :media => 'screen' %>
  <%= stylesheet_link_tag 'blueprint/print',  :media => 'print'  %>
  <%= stylesheet_link_tag 'ganesha', :media => 'screen'          %>
  <%= javascript_include_tag :defaults %>
  <%= yield :scripts %>
  <%= csrf_meta_tag %>
</head>
<body>
<p>
  <%= link_to 'Servers', servers_path %> |
  <%= link_to 'Instances', instances_path %> |
  <%= link_to 'Databases', databases_path %> |
  <%= link_to 'Scripts', scripts_path %> |
  <%= link_to 'Scripts targets', script_targets_path %> |
  <%= link_to 'Collected data', collected_data_path %>
</p>

<% if notice %>
  <p id="notice" class="notice"><%= notice %></p>
<% end %>

<%= yield %>

<%= debug(params) if Rails.env.development? %>

</body>
</html>
